<li class="me">
  <div class="name">
    <span class=""><%= @current_user.username %></span>
  </div>
  <div class="message">
    <p><%= @message.content %></p>
    <span class="msg-time"><%= @message.created_at %></span>
  </div>
</li>
