<div class="window-wrapper">
  <div class="window-title">
    <div class="dots"></div>
    <div class="title">
      <span>Dialect Chat</span>
    </div>

      <div class="logout">
        <%= link_to logout_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>
        <% end %>
      </div>

  </div>
  <div class="window-area">
    <div class="conversation-list">
      <ul class="user-list">
        <li><a href="#"><i class="fa fa-circle-o online"></i></i><span>Cucu Ionel</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o idle"></i></i><span>Jan Dvořák</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o offline"></i></i><span>Clark Kent</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o offline"></i></i><span>Ioana Marcu</span></a></li>
      </ul>
      <div class="my-account">
        <div class="image">
          <img src="http://www.gravatar.com/avatar/616a1317e7c3cf9f7f108f1ea32e1ce6?s=64">
          <i class="fa fa-circle online"></i>
        </div>
        <div class="name">
          <span><%= @current_user.try(:username) %></span>
          <span class="availability">Available</span>
        </div>

      </div>
    </div>
    <div class="chat-area">
      <div class="title"><b>Guests chatroom</b></div>
      <div class="chat-list">
        <ul>
          <li class="me">
            <div class="name">
              <span class="">Cucu Ionel</span>
            </div>
            <div class="message">
              <p>Hey, do you like the new interface? It's done with Font Awesome.</p>
              <span class="msg-time">5:00 pm</span>
            </div>
          </li>
          <li class="">
            <div class="name">
              <span class="">Christian Smith</span>
            </div>
            <div class="message">
              <p>Yeah, will do.</p>
              <span class="msg-time">5:04 pm</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="input-area">
        <form class="new-message-form" action="index.html" method="post">
          <div class="input-wrapper">
            <input type="text" value="" class='text-area new-message'>
          </div>
          <input type="submit" value="Submit" class="send-btn new-message">
        </form>
      </div>
    </div>
  </div>
</div>
