<div class="window-wrapper">
  <div class="window-title">
    <div class="dots"></div>
    <div class="title">
      <span>Dialect Chat</span>
    </div>

      <div class="logout">
        <%= link_to logout_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>
        <% end %>
      </div>

  </div>
  <div class="window-area">
    <div class="conversation-list">
      <ul class="user-list">
        <% for user in OnlineUser.all do %>
          <% next if user.username == @current_user.username %>
          <li id="user-<%= user.username %>">
            <a href="#">
              <i class="fa fa-circle-o online"></i>
              <span><%= user.username %></span>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="my-account">
        <div class="image">
          <img src="http://www.gravatar.com/avatar/616a1317e7c3cf9f7f108f1ea32e1ce6?s=64">
          <i class="fa fa-circle online"></i>
        </div>
        <div class="name">
          <span><%= @current_user.try(:username) %></span>
          <span class="availability">Available</span>
        </div>

      </div>
    </div>
    <div class="chat-area">
      <div class="title"><b>Guests chatroom</b></div>
      <div class="chat-list">
        <ul></ul>
      </div>
      <div class="input-area">
        <form class="new-message-form" action="index.html" method="post">
          <div class="input-wrapper">
            <input type="text" value="" class='text-area new-message'>
          </div>
          <input type="submit" value="Submit" class="send-btn new-message">
        </form>
      </div>
    </div>
  </div>
</div>
